package components

import "github.com/utiiz/go/notion/internal/templates/pages"
import "github.com/utiiz/go/notion/internal/models"

templ User(user *models.User) {
    @pages.Base("User") {
        <div class="user text-gray-200">
            <div>{ user.Email }</div>
        </div>
    }
}
