package components

import "github.com/utiiz/go/notion/internal/templates/pages"
import "github.com/utiiz/go/notion/internal/models"

templ User(user *models.User) {
    @pages.Base("User") {
        @Sidebar()
        <div>
            <div hx-get="/" hx-trigger="click">{ user.Email }</div>
            <button hx-get="/">Click me</button>
        </div>
    }
}
